<!DOCTYPE html>
<html>
<head>
    <title>FlightEasy</title>
    <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 100 100%22><text y=%22.9em%22 font-size=%2290%22>✈️</text></svg>">
    <style>
        body {
            background-image: url('/static/background.png');
            background-size: cover;
            background-position: center;
            background-repeat: no-repeat;
            min-height: 100vh;
        }
    </style>
</head>
<head>
    <title>Confirmation Page</title>
</head>
<body>

    <h1>E-Ticket Sent!</h1>
    <p>Your E-ticket has been successfully emailed to {{ email }}</p>

    <br>
    <a href="/dashboard">Back to My Bookings</button>
    
</body>
</html>