<!DOCTYPE html>
<html>
<head>
    <title>My Bookings - Flight Booking System</title>
</head>
<body>

    <h1>Welcome {{ username }}!</h1>
    <a href="/logout">Logout</a>

    <hr>

    <h2>New Booking</h2>
    <form method="POST" action="/dashboard">
        <label>Departure City</label><br>
        <select name="departure">
            <option value="Sydney">Sydney</option>
            <option value="Melbourne">Melbourne</option>
            <option value="Brisbane">Brisbane</option>
        </select>
        <br><br>

        <label>Arrival City</label><br>
        <select name="arrival">
            <option value="Sydney">Sydney</option>
            <option value="Melbourne">Melbourne</option>
            <option value="Brisbane">Brisbane</option>
        </select>
        <br><br>

        <label>Departure Date</label><br>
        <input type="date" name="date" id="date">
        <br><br>

        <script>
            const today = new Date();
            const oneYearLater = new Date();
            oneYearLater.setFullYear(today.getFullYear() + 1);

            document.getElementById("date").min = today.toISOString().split("T")[0];
            document.getElementById("date").max = oneYearLater.toISOString().split("T")[0];
        </script>

                <label>Number of Passengers</label><br>
        <input type="number" name="passengers" min="1" value="1" max="30"oninput="updatePassengers(this.value)">
        <br><br>
        <div id="passenger-details">
        <script>
        function updatePassengers(total) {
            total = past
        </script>


        <label>Ticket Class</label><br>
        <select name="ticket">
            <option value="Economy">Economy</option>
            <option value="Business">Business</option>
        </select>
        <br><br>

        <button type="submit">Book Flight</button>
    </form>

    <hr>
    <h2>My Past Bookings</h2>

    {% if bookings %}
        <table border="1" cellpadding="8">
            <tr>
                <th>#</th>
                <th>Departure</th>
                <th>Arrival</th>
                <th>Date</th>
                <th>Passengers</th>
                <th>Class</th>
            </tr>
            {% for b in bookings %}
            <tr>
                <td>{{ b.id }}</td>
                <td>{{ b.departure }}</td>
                <td>{{ b.arrival }}</td>
                <td>{{ b.date }}</td>
                <td>{{ b.passengers }}</td>
                <td>{{ b.ticket }}</td>
            </tr>
            {% endfor %}
        </table>
    {% else %}
        <p>No bookings yet — make one above!</p>
    {% endif %}

</body>
</html>