<!DOCTYPE html>
<html>
<style>
    body {
        background-image: url('/background.png');
        backgorund-size: cover;
        background-position: 

    }
</style>
<head>     
   <title>FlightPath</title>
   <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 100 100%22><text y=%22.9em%22 font-size=%2290%22>✈️</text></svg>">
</head>
<body>
    
   <h1>FlightPath</h1>
   
        <button onclick="window.location.href='/login'">Login</button>

    <span style="display:inline-block; width:15px;"></span>

        <button onclick="window.location.href='/register'">Register</button>
    
</body>
</html>