<!DOCTYPE html>
<html>
<head>
    <title>FlightPath</title>
    <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 100 100%22><text y=%22.9em%22 font-size=%2290%22>✈️</text></svg>">
    <style>
        body {
            background-image: url('/static/background.png');
            background-size: cover;
            background-position: center;
            background-repeat: no-repeat;
            min-height: 100vh;
        }
    </style>
</head>
<body>
    
     <h1>Welcome, {{ username }}!</h1>
     <p>Your Account has been successfully created!!</p>
     <p>You can log in using your username and password now.</p>

     <br>
     <button onclick="window.location.href='/login'">Go to Login</button>
  
</body>
</html>