<!DOCTYPE html>
<html>
<head>
    <title>FlightPath</title>
     <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 100 100%22><text y=%22.9em%22 font-size=%2290%22>✈️</text></svg>">
    <style>
        body {
            background-image: url('/static/background.png');
            background-size: cover;
            background-position: center;
            background-repeat: no-repeat;
            min-height: 100vh;
        }
</style>
</head>
<body>

    <h1>Register</h1>

        {% if message %}
        <p style="color: {% if message == 'Registration successful' %}green{% else %}red{% endif %};">
            {{ message }}
        </p>
    {% endif %}

    <form method="POST">
        <input type="text" name="username"placeholder="Username">
        <br><br>
        <input type="password" name="password" placeholder="Password">
        <br><br>   
        <input type="email" name="email" placeholder="Email" required>
        <br><br>
        <button type="submit">Register</button>
    </form>

    <br>
    Already have an account? <a href="/login">Login here.</a>

</body>
</html>